.cart {
    margin-top: 6rem;
    margin-bottom: 2rem;

    &__container {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    &__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__emptyButton {
        margin-right: 1rem !important;
    }

    &__total {
        display: flex !important;

        :nth-child(2) {
            margin-left: 0.5rem;
        }
    }

    &__empty {
        margin-top: 1rem !important;
    }
}
