.checkout {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 8px !important;

    &__stepper {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__feedbackDivider {
        margin: 0.5rem 0;
    }

    &__spinner {
        display: flex;
        justify-content: center !important;
    }
}
