.product {
    border-radius: 8px !important;
    padding-top: 1rem;

    &__media {
        height: 0;
        padding-top: 56.25%; // 16:9
        background-size: contain !important;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
    }
}
