.navbar {
    &__toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__brand {
        display: flex;
        align-items: center;
        text-decoration: none !important;
    }

    &__image {
        height: 2.5rem;
        margin-right: 1rem;
    }
}
