.search {
    margin-top: 6rem;

    &__input {
        display: flex;
        align-items: center;
        border-radius: 50px;
        width: 100%;
        flex-direction: row-reverse;
        background-color: white;
    }

    &__icon {
        background-color: #febd78;
        padding: 0.5rem !important;
        cursor: pointer;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        opacity: 0.8;

        &:hover {
            opacity: 1;
            transition: all 0.3s ease-in-out;
        }

        &:not(:hover) {
            transition: all 0.3s ease-in-out;
        }
    }

    &__inputBase {
        width: 100% !important;
        background-color: white !important;
        margin-left: 1rem !important;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    &__container {
        margin-top: 2rem !important;
    }

    &__form,
    &__image,
    &__progressing {
        display: grid;
        place-items: center;
    }

    &__image > img {
        max-width: 100%;
        height: auto;
    }

    &__progressing {
        .MuiCircularProgress-root {
            height: 3.5rem !important;
            width: 3.5rem !important;
        }
    }
}
